{% load humanize %}

<div class="declaration__stats">
  <h2 class="declaration__stats__header"><span class="declaration__stats__number">{{ signature_count|intcomma }}</span> <a href="https://womensdeclaration.com/signatures/" target="_blank">Individual Signatures</a></h2>

    <p class="declaration__stats__subheader">from</p>

    <h2 class="declaration__stats__header"><span class="declaration__stats__number">{{ country_count|intcomma }}</span> <a href="https://womensdeclaration.com/countries/" target="_blank">Countries</a></h2>

  <p class="declaration__stats__subheader">in collaboration with</p>

  <h2 class="declaration__stats__header"><span class="declaration__stats__number">{{ organization_count|intcomma }}</span> <a href="https://womensdeclaration.com/signatures/" target="_blank">Organizations</a></h2>

</div>
