{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

<h2>Supporting Organizations</h2>
<div class="supporting-orgs">
  {% for org in organizations %}
      <div class="supporting-org">
        {% if org.homepage %}
          <a href="{{ org.homepage }}", target="_blank">
        {% endif %}
          <img class="supporting-org__logo" src="{{ org.logo.url }}">
        {% if org.homepage %}
          </a>
        {% endif %}
        <p class="supporting-org__name">{{ org.name }}</p>
        <div class="supporting-org__country">
        {% if org.country %}
          <p class="supporting-org__country">{{ org.country.name }}</p>
        {% endif %}
        {% if org.international %}
          <p class="supporting-org__country">International</p>
        {% endif %}
        </div>
      </div>
  {% endfor %}
</div>
