{% load wagtailcore_tags wagtailimages_tags %}

{% if self.title %}
  <h2>{{ self.title }}</h2>
{% endif %}

<div>
  <div class="about__author">
    <div class="">
      {% image self.image fill-300x300 class="about__author__img" %}
    </div>
    <div class="about__author__text">
        {{ self.body | richtext }}
    </div>
  </div>
</div>
