<h2>Sign the Declaration</h2>
<p class="sign__subtitle">Your name will be added to our public list of <a href="/signatures">signatories</a>.</p>
<form action="/submit/signature/" method="POST" class="sign-form">
    {% csrf_token %}
    {{ form }}
    <div>
      <button class="sign-form__submit" type="submit" value="Submit">Submit</button>
    </div>
</form>
