{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="main-content main-content--signature-page">

  <h3 class="country-page__header">Citizens of {{country_count}} countries have signed the Declaration:</h3>

  <div class="country-page__container">

    {% for country in countries %}

      <div class="country-page__list-item">
        <img class="country-page__list-item__flag" src="{{ country.flag }}">
        <p>{{ country.name }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
