{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <div class="event-page">
    <h2>Upcoming Events</h2>

    {% if upcoming_events %}
      <div class="event-page__container">
        {% for event in upcoming_events %}
          <div class="event">
            <a href="{{ event.event_link }}">
              <img class="event__img" src="{{ event.image.url }}">
              <p class="event__title">{{ event.title }}</p>
              <p class="event__date">{{ event.start_time|date:"M j Y" }}, {{ event.start_time|time:"H:i" }} - {{ event.end_time|time:"H:i" }}</p>
              <p class="event__location">{{ event.location }}</p>
              <p class="event__text-preview">
                {{ event.description|truncatewords:30 }}
              </p>
            </a>
            <a href="{{ event.event_link }}">
              <button class="event__button">Sign up!</button>
            </a>
          </div>
        {% endfor %}

      {% else %}
        <p class="event__no-event-text">Sorry, no upcoming events right now.</p>
        <p class="event__no-event-text"><a href="https://www.womensdeclaration.com/get-involved/">Get involved</a> instead, and help us plan events!</p>
        <p class="event__no-event-text">Or, support us by donating:</p>
        <iframe class='gfm-media-widget' image='1' coinfo='1' width='100%' height='100%' frameborder='0' id='declaration-flyers-and-cards'></iframe><script src='//funds.gofundme.com/js/5.0/media-widget.js'></script>
      {% endif %}
    </div>

  </div>

{% endblock %}
