body {
  background-color: #FBF6FB;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
}

@media (min-width: 1000px) {
  h1 {
  font-size: 64px;
  }
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  margin: 40px 0;
  padding: 0;
}

@media (max-width: 600px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-family: 'Libre Baskerville', serif;
}

p {
  margin: 0;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.rich-text a {
  color: #990099;
  word-wrap: break-word;

}

.rich-text a:hover {
  color: #E600E6;
}

button {
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  height: 48px;
  text-transform: uppercase;
  width: 250px;
}

/* xxxxxxxxxxxxxxxxxxx --- HEADER --- xxxxxxxxxxxxxxxxxxx */

.header {
  background-color: #990099;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

.header-container {
  max-width: 12000px;
  margin: 0 auto;
}

.header__nav__container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 0;
  position: relative;
}

@media (max-width: 600px) {
  .header__nav__container {
    flex-wrap: wrap;
    max-width: 400px;
  }
}

.header__nav__logo:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    transition: .3s;
}

.header__nav__logo img {
  width: 60px;
  padding: 0 20px;
}

.header__nav__logo img:hover {
}

.header__nav__logo__initials {
  font-weight: bold;
  letter-spacing: 3px;
}

.header__nav__links {
  align-items: center;
  display: flex;
  font-size: 20px;
  list-style: none;
  width: 80%;
}

@media (max-width: 600px) {
  .header__nav__links {
    width: auto;
    padding: 0;
  }
}

@media (max-width: 460px) {
  .header__nav__links {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .header__nav__links a {
    width: 30%;
  }
}

.header__nav__item {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .header__nav__item {
    padding: 10px;
  }
}

.header__nav__item:hover {
  transition: 0s;
  color: #FFFFFF80;
}

.header__nav__item a:hover {
  transition: 0s;
  color: #FFFFFF80;
}

.header__nav__language {
  width: 10%;
  padding: 0 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header__nav__language {
    width: 10%;
    padding: 0;
    position: absolute;
    right: 10px;
  }
}

@media (max-width: 700px) {
  .header__nav__language {
    width: 90px;
    top: 50px;
  }
}

.header__nav__language .fa-language {
  padding: 0 5px;
}

.header__nav__language__notification {
  position: absolute;
  border-radius: 3px;
  top: 70px;
  right: 20px;
  width: 200px;
  padding: 10px;
  text-align: right;
  background-color: #FFFFFF50;
}

@media (max-width: 600px) {
  .header__nav__language__notification {
    top: 90px;
    top: 80px;
    right: 10px;
    width: 90%;
    padding: 3px;
    text-align: center;
    font-size: 14px;
  }
}

.header__title {
  margin: 60px auto;
  max-width: 900px;
  text-align: center;
}

.header__title:last-child {
  padding-bottom: 100px;
}

@media (max-width: 600px) {
  .header__title {
    max-width: 90%;
  }
}

.header__subtitle {
  font-size: 24px;
  margin: 50px auto;
  max-width: 600px;
  text-align: left;
}

@media (max-width: 600px) {
  .header__subtitle {
    text-align: center;
  }
}

.header__subtitle:last-child {
  padding-bottom: 100px;
}

@media (max-width: 600px) {
.header__subtitle {
    max-width: 90%;
  }
}

.header__ctas {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .header__ctas {
    flex-direction: column;
  }
}

.header__ctas__button__wrapper {
  height: auto;
  margin: 0 20px 50px;
}

@media (max-width: 600px) {
  .header__ctas__button__wrapper {
    margin: 0 20px 20px;
  }

  .header__ctas__button__wrapper:last-of-type {
    margin: 0 20px 50px;
  }
}

.header__ctas__button {
  background-color: #E600E6;
}

.header__ctas__button:hover {
  transition: .3s;
  background-color: #490049;
}

/* xxxxxxxxxxxxxxxxxxx --- END HEADER --- xxxxxxxxxxxxxxxxxxx */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  min-height: 60vh;
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .main-content {
    width: 90%;
  }
}

.main-content--signature-page {
    max-width: 1200px;
}

@media (max-width: 600px) {
  .main-content h2 {
    text-align: center;
  }
}




.main-content__divider {
  align-items: center;
  display: flex;
  font-size: 64px;
  justify-content: center;
  margin: 50px auto 10px;
}

.main-content__text {
  text-align: left;
}

.main-content__text p {
  font-size: 20px;
  line-height: 32px;
  padding: 20px;
}

.main-content__divider__icon {
  height: 50px;
  margin: 0 10px;
  width: 50px;
}



.main-content__cta {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.main-content__cta__button__wrapper {
  height: auto;
  margin: 0 20px 50px;
}

  .main-content__cta__button__wrapper:last-of-type {
    margin: 0 20px 50px;
  }


.main-content__cta__button {
  background-color: #E600E6;
}

.main-content__cta__button:hover {
  transition: .3s;
  background-color: #490049;
}


.declaration__stats__header a {
  color: black;
}

.declaration__stats__header a:hover {
  color: #990099;
}

.declaration__stats__number {
  color: #990099;
}

.declaration__stats__subheader {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #424242;
}

/* xxxxxxxxxxxxxxxxxxx --- SIGN THE DEC FORM --- xxxxxxxxxxxxxxxxxxx */

.sign__subtitle {
  font-size: 24px;
  margin-top: -20px;
  margin-bottom: 40px;
}

.sign__subtitle a {
  color: #990099;
}

.sign__subtitle a:hover {
  transition: 0.3s;
  color: #E600E6;
}

@media (min-width: 600px) {

  .block-sign_the_declaration .sign-form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 25px auto 56px);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
  }

  .block-sign_the_declaration .sign-form label:first-of-type {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .block-sign_the_declaration .sign-form .helptext:first-of-type {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .block-sign_the_declaration .sign-form #id_name  {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(2) {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(2) {
    grid-column: 1 / 1;
    grid-row: 5 / 5;
  }

  .block-sign_the_declaration .sign-form #id_email  {
    grid-column: 1 / 1;
    grid-row: 6 / 6;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(3) {
    grid-column: 2 / 2;
    grid-row: 6 / 6;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(3) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_subscribe_to_emails  {
    grid-column: 2 / 2;
    grid-row: 6 / 6;
    margin-left: 200px;
    width: 20px;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(4) {
    grid-column: 1 / 1;
    grid-row: 7 / 7;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(4) {
    grid-column: 1 / 1;
    grid-row: 8 / 8;
  }

  .block-sign_the_declaration .sign-form #id_organization  {
    grid-column: 1 / 1;
    grid-row: 9 / 9;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(5) {
    grid-column: 2 / 2;
    grid-row: 9 / 9;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(5) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_sign_for_organization  {
    grid-column: 2 / 2;
    grid-row: 9 / 9;
    margin-left: 220px;
    width: 20px;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(6) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(6) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .block-sign_the_declaration .sign-form #id_country  {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }

  .block-sign_the_declaration .sign-form div  {
    grid-column: 1 / span 2;
    grid-row: 10 / 10;
  }
}


@media (max-width: 599px) {

  .block-sign_the_declaration .sign-form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: grid !important;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 25px auto 56px) 56px 25px auto 56px 25px;
    grid-row-gap: 5px;
    text-align: center;
  }

  .block-sign_the_declaration .sign-form label:first-of-type {
    grid-row: 1;
  }

  .block-sign_the_declaration .sign-form .helptext:first-of-type {
    grid-row: 2;
  }

  .block-sign_the_declaration .sign-form #id_name  {
    grid-row: 3;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(6) {
    grid-row: 4;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(6) {
    grid-row: 5;
  }

  .block-sign_the_declaration .sign-form #id_country  {
    grid-row: 6;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(2) {
    grid-row: 7;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(2) {
    grid-row: 8;
  }

  .block-sign_the_declaration .sign-form #id_email  {
    grid-row: 9;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(3) {
    grid-row: 10;
    grid-column: 1;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(3) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_subscribe_to_emails  {
    grid-row: 10;
    grid-column: 1;
    margin-left: 200px;
    width: 20px;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(4) {
    grid-row: 11;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(4) {
    grid-row: 12;
  }

  .block-sign_the_declaration .sign-form #id_organization  {
    grid-row: 13;
  }

  .block-sign_the_declaration .sign-form label:nth-of-type(5) {
    grid-row: 14;
    grid-column: 1;
  }

  .block-sign_the_declaration .sign-form .helptext:nth-of-type(5) {
    display: none;
  }

  .block-sign_the_declaration .sign-form #id_sign_for_organization  {
    grid-row: 14;
    grid-column: 1;
    margin-left: 220px;
    width: 20px;
  }

  .block-sign_the_declaration .sign-form div  {
    grid-row: 15;
  }
}

.block-sign_the_declaration form label {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  text-align: left;
}

.block-sign_the_declaration form .helptext {
  color: #424242;
  text-align: left;
  max-width: 270px;
}

.block-sign_the_declaration form input {
  border: 2px solid #424242;
  border-radius: 4px;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  height: 32px;
  width: 270px;
}

.block-sign_the_declaration form select {
  border: 2px solid #424242;
  border-radius: 4px;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  height: 36px;
  width: 270px;
}

.block-sign_the_declaration form .sign-form__submit {
  background-color: #990099;
  margin: 40px 0;
}

.block-sign_the_declaration form .sign-form__submit:hover {
  transition: 0.3s;
  background-color: #E600E6;
}

/* xxxxxxxxxxxxxxxxxxx --- END SIGN THE DEC FORM --- xxxxxxxxxxxxxxxxxxx */

.signatures__sort {
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.signatures__sort h3 {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 600px) {
  .signatures__sort {
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- SIGNATURES --- xxxxxxxxxxxxxxxxxxx */

.signatures__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .signatures__container {
    padding: 0;
    width: 100%;
  }
}

.signatures__sort__checkboxes input {
  margin-left: 20px;
}

.signatures__sort__checkboxes h3 {
  display: inline;
  font-weight: normal;
}

.signature__box {
  font-size: 16px;
  width: 300px;
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid #c8c8c8;
  /* border-left: 16px solid #c8c8c8; */
  border-radius: 4px;
  box-shadow: 2px 2px #A2A2A240;
  margin: 20px;
}

@media (max-width: 600px) {
  .signature__box {
    width: 90%;
  }
}

.signature__box p {
  padding: 10px 20px;
}

.signature__box .signature__name p {
  padding-bottom: 0;
}

.signature__box .signature__organization p {
  padding-bottom: 0;
}

.signature__footer {
  margin-top: 10px;
  display: flex;
  border-top: 1px solid #c8c8c8;
  justify-content: space-between;
  overflow: hidden;
}

.signature__name {
  color: #990099;
  font-size: 24px;
  overflow: hidden;
}

.signature__organization {
  font-size: 18px;
  overflow: hidden;
}

.signature__country {
  color: #A2A2A2;
  bottom: 0px;
  height: 38px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signature__country p {
  padding-left: 10px;
}

.signature__country__flag {
  width: 16px;
  height: 16px;
  margin: 10px;
  margin-right: 0;
  border-radius: 100%;
}

.signature__date {
  color: #A2A2A2;
  font-size: 14px;
}

/* xxxxxxxxxxxxxxxxxxx --- END SIGNATURES --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

.supporting-orgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -40px 0 0 -40px;
}

@media (max-width: 600px) {
  .supporting-orgs {
    justify-content: center;
  }
}

.supporting-org {
  font-size: 16px;
  margin: 20px 0 0 20px;
  padding: 20px;
}

.supporting-org__logo {
  border-radius: 100%;
  width: 150px;
}

.supporting-org p {
  margin: 0;
}

.supporting-org__name {
  font-size: 18px;
  max-width: 200px;
}

.supporting-org__country {
  color: #A2A2A2;
  bottom: 0px;
  height: 38px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.supporting-org__country__flag {
  width: 16px;
  height: 16px;
  margin: 10px;
  border-radius: 100%;
}

/* xxxxxxxxxxxxxxxxxxx --- END SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- STANDARD PAGE SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

@media (min-width: 1000px) {
  .block-org_list {
    width: 1000px;
    margin-left: -100px;
  }
}

@media (min-width: 1200px) {
  .block-org_list {
    width: 1200px;
    margin-left: -200px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- END STANDARD PAGE SUPPORTING ORGS --- xxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxx --- COUNTRY PAGE --- xxxxxxxxxxxxxxxxxxx */

.country-page__header {
  margin-top: 60px;
}

.country-page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  margin: 0 auto;
}

.country-page__list-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

.country-page__list-item__flag {
  height: 20px;
  width: 20px;
  border-radius: 100%;

  margin-right: 10px;
  margin-bottom: -5px;
}

.country-page__list-item p {
  font-size: 20px;

}

/* xxxxxxxxxxxxxxxxxxx --- END COUNTRY PAGE --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- PAGINATION --- xxxxxxxxxxxxxxxxxxx */

.pagination {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  color: gray;
  margin-bottom: 40px;
}

.pagination a {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 3px;
  background-color: #A2A2A2;
}

.pagination a:hover {
  transition: 0.3s;
  background-color: #990099;
}

@media(max-width:675px){
  .step-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:675px){
  .pagination {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: gray;
    margin-bottom: 40px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- END PAGINATION --- xxxxxxxxxxxxxxxxxxx */

.block-paragraph_with_image h2 {
  text-align: left;
}

.about__author {
  display: flex;
  width: 100%;
  margin: 50px 0;
}

@media(max-width: 550px) {
  .about__author {
    flex-direction: column;
    align-items: center;
  }
}

.about__author__text {
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
}

@media(max-width: 550px) {
  .about__author__text {
    text-align: center;
    padding-left: 0;
  }
}

@media(max-width: 1000px) {
  .about__author__text {
    width: 60%;
    max-width: 600px;
    font-size: 18px;
  }
}

@media(max-width: 600px) {
  .about__author__text {
    width: 90%;
  }
}

.about__author__text h4 {
  color: #990099;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
}

.about__author__img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 10px 20px;
}

/* xxxxxxxxxxxxxxxxxxx --- NEWS --- xxxxxxxxxxxxxxxxxxx */

.news-page {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.news-page a {
  color: #990099;
}

.news-page a:hover {
  transition: 0.3s;
  color: #E600E6;
}

.news-page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.news-item {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px #A2A2A240;
  margin: 40px 20px;
  border-radius: 3px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item__img {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.news-item p {
  margin: 10px 20px;
}

.news-item p.news-item__date {
  margin: 0px 30px 20px;
}

.news-item .news-item__title {
  color: #990099;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

.news-item__text-preview {
    font-size: 16px;
    max-height: 12em;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.news-item__text-preview:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.news-item__text-preview:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.news-item .news-item__cta {
  width: 100%;
  display: flex;
  border-top: 1px solid #c8c8c8;
  margin-top: 10px;
  align-self: flex-end;
}

.news-item .news-item__cta .news-item__cta__img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 10px;
}

.news-item .news-item__cta .news-item__cta__title {
  font-weight: bold;
  font-size: 14px;
}

.news-item__date {
  color: #A2A2A2;
}

.news-item a p {
  color: #000000;
}

/* xxxxxxxxxxxxxxxxxxx --- END NEWS --- xxxxxxxxxxxxxxxxxxx */


/* xxxxxxxxxxxxxxxxxxx --- EVENTS --- xxxxxxxxxxxxxxxxxxx */

.event-page {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.event-page a {
  color: #990099;
}

.event-page a:hover {
  transition: 0.3s;
  color: #E600E6;
}

.event-page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.event {
  width: 300px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px #A2A2A240;
  margin: 40px 20px;
  border-radius: 3px;
  text-align: left;
}

.event__img {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.event p {
  margin: 10px 20px;
}

.event__text-preview {
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    color: #000000;
}

.event .event__title {
  color: #990099;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
}

.event__date {
  color: #A2A2A2;
}

.event__location {
  color: #A2A2A2;
}

.event__button {
  width: 100%;
  background-color: #990099;
  border-radius: 0;
  margin-top: 10px;
}

.event__button:hover {
  background-color: #E600E6;
}

.event__no-event-text {
  font-size: 24px;
  padding: 10px;
}

.event-page .gfm-media-widget {
  padding: 20px;
}

/* xxxxxxxxxxxxxxxxxxx --- END EVENTS --- xxxxxxxxxxxxxxxxxxx */

@media(max-width:700px) {
  [class^="block-"] > iframe {
    width: 90%;
    height: 2250px;
  }
}

/* xxxxxxxxxxxxxxxxxxx --- FOOTER --- xxxxxxxxxxxxxxxxxxx */

.footer {
  background-color: #009900;
  color: #FFFFFF;
  min-height: 50px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.footer a {
  text-decoration: underline;
  color: #FFFFFF;
}

@media(max-width:700px) {
  .footer p {
    max-width: 80%;
    margin: 0 auto;
  }
}

.footer__container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
}

@media (max-width: 700px) {
  .footer__container {
    max-width: 90%;
    flex-direction: column;
  }
}

.footer__column {
  margin: 20px 0;
  min-width: 20%;
}

@media (max-width: 700px) {
  .footer__column {
    margin: 20px;
    width: 100%;
  }
}

.footer__column--about {
  width: 40%;
}

@media (max-width: 700px) {
  .footer__column--about {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .footer__column--signatures {
    width: 90%;
  }
}

.footer__links {
  padding: 0;
}

.footer__links a:hover {
  color: #FFFFFF80;
}

.footer__links a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .footer__column--links {
    width: 90%;
  }
}

.footer__links li {
  list-style: none;
  padding: 10px 0;
}

.footer__links li:hover {
  color: #FFFFFF80;
}

.footer__logo {
  width: 100px;
}

.footer .fa {
  padding-right: 5px;
}

/* xxxxxxxxxxxxxxxxxxx --- END FOOTER --- xxxxxxxxxxxxxxxxxxx */


/* reCAPTCHA */
label[for="id_captcha"] {
  display: none;
}
.g-recaptcha[data-size="invisible"] {
  position: absolute;
}
