{% extends "modeladmin/index.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}

  <footer>
    <ul>
      <li class="actions">
        <a href="{% url 'organizations_export_csv' %}" class="button bicolor icon icon-download" title="{% trans 'Download organization data as CSV' %}">{% trans 'Download data' %}</a>
      </li>
      <li class="meta">
        <p>{% trans "The organizations will be exported to a spreadsheet file (*.csv)" %}</p>
      </li>
    </ul>
  </footer>
{% endblock %}
