{% load static wagtailuserbar wagtailimages_tags wagtailcore_tags menu_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142460315-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142460315-1');
    </script>

    <meta charset="utf-8" />

    <title>
        {% block title %}
            {{ self.title }}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>

    {% if self.search_desciption %}
      <meta name="description" content="{{ self.search_desciption }}"/>
    {% else %}
      <meta name="description" content="Women's Human Rights Campaign" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% with self.get_site.site_name as site_name %}
      <meta property="og:title" content="{{ self.title }} {% if site_name %}- {{ site_name }}{% endif %}">
    {% endwith %}

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://womensdeclaration.com{{ self.url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% if self.listing_image %}
      {% image self.listing_image fill-600x400 as image %}
      <meta property="og:image" content="https://womensdeclaration.com{{ image.url }}" alt="{{ image.alt }}">
      <meta property="og:image:alt" content="{{ image.alt }}">
    {% else %}
      <meta property="og:image" content="https://womensdeclaration.com/static/images/purple_logo.png">
      <meta property="og:image:alt" content="Declaration on Women's Sex-Based Rights">
    {% endif %}

    <meta property="og:image:type" content="image">
    <meta property="og:image:width" content="auto">
    <meta property="og:image:height" content="auto">

    {% if self.search_desciption %}
      <meta property="og:description" content="{{ self.search_desciption }}"/>
    {% else %}
      <meta property="og:description" content="Women's Human Rights Campaign: The Declaration on Women's Sex-Based Rights">
    {% endif %}

    {# Global stylesheets #}
    <link rel="stylesheet" href="/static/css/whrc.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="header">
      <div class="header-container">

        <div class="header__nav__container">
          <a href="/" class="header__nav__logo">
            <img src="/static/images/logo.png">
            <p class="header__nav__logo__initials">WHRC</p>
          </a>

          {% main_menu template="whrc/partials/main_menu.html" %}

          <div class="header__nav__language" id="langauage_changer" onclick="toggleLanguageMessage()">
            <i class="fa fa-language" aria-hidden="true"></i>
            en
          </div>

          <div class="header__nav__language__notification" id="no-languages-notification" style="display:none">Sorry! No Translations are currently available.</div>

          </div>

        <h1 class="header__title">{{ page.title }}</h1>

        {% if page.subtitle %}
          <p class="header__subtitle">{{ page.subtitle }}</p>
        {% endif %}

        {% if page.header_ctas %}
          <div class="header__ctas">
            {% for block in page.header_ctas %}
              <a href="{{ block.value.button_link.url }}" class="header__ctas__button__wrapper">
                <button class="header__ctas__button">{{ block.value.button_text }}</button>
              </a>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
      <div class="footer__container">
        <div class="footer__column footer__column--about">
          <img class="footer__logo" src="/static/images/logo.png">
          <h3>About WHRC</h3>
          <p>Women's Human Rights Campaign is a group of volunteer women who are dedicated to preserving our sex-based rights. Join us in defending women and girls.</p>
        </div>

        <div class="footer__column footer__column--links">
          <h3>Site Map</h3>
          {% flat_menu 'footer' template="whrc/partials/footer_menu.html" %}
        </div>

        <div class="footer__column footer__column--links">
          <h3>Social</h3>
          <ul class="footer__links">
            <a href="https://www.facebook.com/DeclarationOn/" target="_blank"><li><i class="fa fa-facebook-square" aria-hidden="true"></i>
        Facebook</li></a>
            <a href="https://twitter.com/declarationon" target="_blank"><li><i class="fa fa-twitter-square" aria-hidden="true"></i>
        Twitter</li></a>
            <a href="https://www.youtube.com/channel/UCWECmp5Tk3epYSkjs0qAKKQ" target="_blank"><li><i class="fa fa-youtube-square" aria-hidden="true"></i>
        Youtube</li></a>
            <a href="https://gitlab.com/whrc/whrc" target="_blank"><li><i class="fa fa-gitlab" aria-hidden="true"></i>
        Contribute on Gitlab</li></a>
            <a href="/"><li><i class="fa fa-envelope" aria-hidden="true"></i>
        Email: info@womensdeclaration.com</li></a>
          </ul>
        </div>

      </div>
      <p>The <a href="https://gitlab.com/whrc/whrc" target="_blank">code of this website</a> is published under the AGPL3, and the content under CC-BY-NC-ND.</p>
    </div>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/whrc.js' %}"></script>
    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>

</html>
